{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/patient/patientRegister.css' %}">


    <title>Aarogya | Create Account</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="backgroundimage">

    </div>
    <script src="https://kit.fontawesome.com/b8a0a5c528.js" crossorigin="anonymous"></script>
    <div class="logo"></div>


    <div class="Container1">
        <h1 class="Heading">Welcome to Aarogya!</h1>

        <form method="post" action="" class="form" id="form">
            {% csrf_token %}
            <!-- <div class="form-input">
                <input type="number" id="id" name="id" placeholder="Your Id:" onkeyup="validateId()" />
                <span id="id-error"></span>
                <br>
            </div> -->



            <div class="form-input">
                <input type="text" id="username" name="firstname" placeholder="Your First Name:"
                    onkeyup="validateUsername()" />
                <span id="username-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="text" id="username" name="lastname" placeholder="Your last name:"
                    onkeyup="validateUsername()" />
                <span id="username-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="text" id="fullname" name="address" placeholder="Your Address:" onkeyup="validateName()" />
                <span id="fullname-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="email" id="email" name="email" placeholder="Your E-mail:" onkeyup="validateEmail()" />
                <span id="email-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="text" id="phoneNumber" name="phone" placeholder="Your Phone Number:"
                    onkeyup="validateNumber()" />
                <span id="phone-error"></span>
                <br />
            </div>


            <div class="form-input">
                <div class="select">
                    <select name="format" id="format">
                        <option selected disabled>Choose your gender:</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div>
                <br>
            </div>

            <div class="form-input">
                <input placeholder="Date of Birth:" class="textbox-n" type="text" onfocus="(this.type='date')" id="date"
                    name="dob" />

                <!-- <span id="coupon-error"></span> -->
                <br>
            </div>

            <!--=============== CHOOSING PROBLEMS ===============-->

<!--            <p class="choice">Choose the problems that apply to you:</p>-->
<!--            <div class="form-input">-->
<!--                <input type="checkbox" class="nomargin" id="anxiety" name="anxiety" value="Anxiety Disorder">-->
<!--                <label class="checklabel" for="anxiety">Anxiety Disorder</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="adhd" name="adhd" value="adhd">-->
<!--                <label class="checklabel" for="adhd">ADHD</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="ocd" name="behavorial" value="behavorial">-->
<!--                <label class="checklabel" for="behavorial">Behavorial and Anxiety Disorder Among Children</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="bipolar" name="bipolar" value="bipolar">-->
<!--                <label class="checklabel" for="bipolar">Bipolar Effective Disorder</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="dissociation" name="dissociation"-->
<!--                    value="dissociation and dissociative disorder">-->
<!--                <label class="checklabel" for="dissociation">Dissociation and Dissociative Disorder</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="eating" name="eating" value="eating disorder">-->
<!--                <label class="checklabel" for="eating">Eating Disorder</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="ocd" name="ocd" value="ocd">-->
<!--                <label class="checklabel" for="ocd">Obsessive Compulsive Disorder OCD</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="paranoia" name="paranoia" value="paranoia">-->
<!--                <label class="checklabel" for="paranoia">Paranoia </label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="schizophernia" name="schizophernia" value="schizophernia">-->
<!--                <label class="checklabel" for="schizophernia">Schizophernia </label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="unknown" name="unknown" value="unknown">-->
<!--                <label class="checklabel" for="unknown">Unknown</label>-->
<!--                <br>-->

<!--                <input type="checkbox" class="nomargin" id="other" name="other" value="other">-->
<!--                <label class="checklabel" for="other">Other</label>-->
<!--                <br>-->

<!--            </div>-->

<!--            <div class="form-input">-->
<!--                <input placeholder="Problem Description" class="textarea" type="textarea" id="date" name="Problem" />-->

<!--                &lt;!&ndash; <span id="coupon-error"></span> &ndash;&gt;-->
<!--                <br>-->
<!--            </div>-->


            <div class="form-input">
                <div class="eye"><i class='fa fa-eye' onclick="passwordVisible()"></i></div>
                <input type="password" id="password" name="password" placeholder="Your Password:"
                    onkeyup="validatePassword()" />
                <!-- <img src="../ASSETS/Website/StarReview.svg"  onclick="passwordVisible()" alt=""> -->
                <span id="password-error"></span>
                <br>
            </div>



            <button type="submit" class="mainButton" id="formSubmit" onclick="return validateForm()">continue</button>
            <span id="submission-error"></span> <br>
        </form>

        <p class="createAccount">Already have an account? </p> <a href="{% url 'login' %}">
            <h5> Login Here</h5>
        </a>
        <div class="spacing"></div>
    </div>

    <script>
        var idError = document.getElementById('id-error');
        var fullnameError = document.getElementById('fullname-error');
        var usernameError = document.getElementById('username-error');
        var emailError = document.getElementById('email-error');
        var phoneError = document.getElementById('phone-error');
        var passwordError = document.getElementById('password-error');
        var couponError = document.getElementById('coupon-error');
        var submissionError = document.getElementById('submission-error');
        var formSubmit = document.getElementById('formSubmit');

        //ID Validation
        function validateId() {
            var id = document.getElementById('id').value;
            if (id.length == 0) {
                idError.innerHTML = "Id is required!"
                return false;
            }
            if (name.match(/^[0-9]$/)) {
                idError.innerHTML = "Id must be a number!"
                return false;
            }
            idError.innerHTML = "<i class='fa fa-check-circle'></i>";
        }

        //Full Name Validation
        function validateName() {
            var fullname = document.getElementById('fullname').value;
            if (fullname.length == 0) {
                fullnameError.innerHTML = "Full name is required!"
                return false;
            }
            if (!fullname.match(/^[a-zA-Z]+ [a-zA-Z]+$/)) {
                fullnameError.innerHTML = "Write first and last name!"
                return false;
            }
            fullnameError.innerHTML = "<i class='fa fa-check-circle'></i>";
            return true;
        }

        //User Name Validation
        function validateFirstname() {
            var username = document.getElementById('username').value;
            if (username.length == 0) {
                usernameError.innerHTML = "Name is required!"
                return false;
            }
            if (!username.match(/^[a-zA-Z0-9]+$/)) {
                usernameError.innerHTML = "Characters and spaces aren't allowed!"
                return false;
            }
            usernameError.innerHTML = "<i class='fa fa-check-circle'></i>";
            return true;
        }


        //User Name Validation
        function validateLastname() {
            var username = document.getElementById('username').value;
            if (username.length == 0) {
                usernameError.innerHTML = "Name is required!"
                return false;
            }
            if (!username.match(/^[a-zA-Z0-9]+$/)) {
                usernameError.innerHTML = "Characters and spaces aren't allowed!"
                return false;
            }
            usernameError.innerHTML = "<i class='fa fa-check-circle'></i>";
            return true;
        }


        //Number Validation
        function validateNumber() {
            var phone = document.getElementById('phoneNumber').value;

            if (phone.length == 0) {
                phoneError.innerHTML = "Number is required!"
                return false;
            }
            if (phone.length !== 10) {
                phoneError.innerHTML = "Number should be 10 digits!"
                return false;
            }
            if (!phone.match(/^[0-9]{10}$/)) {
                phoneError.innerHTML = "Enter digits only!"
                return false;
            }
            phoneError.innerHTML = "<i class='fa fa-check-circle'></i>";
            return true;
        }


        //Email Validation
        function validateEmail() {
            var email = document.getElementById('email').value;
            if (email.length == 0) {
                emailError.innerHTML = "Email is required!"
                return false;
            }
            if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
                emailError.innerHTML = "Email is invalid!"
                return false;
            }
            emailError.innerHTML = "<i class='fa fa-check-circle'></i>";
            return true;
        }


        //Password Validation
        function validatePassword() {
            var password = document.getElementById('password').value;
            if (password.length == 0) {
                passwordError.innerHTML = "Password is required!"
                return false;
            }
            if (password.length <= 8) {
                passwordError.innerHTML = "8 characters required!"
                return false;
            }
            if (!password.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#%&*]{8,}$/)) {
                passwordError.innerHTML = "Password isn't strong!"
                return false;
            }
            passwordError.innerHTML = "<i class='fa fa-check-circle'></i>";
            return true;
        }

        //Form Validation
        function validateForm() {
            if (!validateId() || !validateFullname() || !validateUsername() || !validateEmail() || !validatePhone() || !validatePassword() || !validateCoupon()) {
                submitError.style.display = "block";
                submitError.innerHTML = 'Please fix your errors to submit!';
                setTimeout(function () { submitError.style.display = 'none'; }, 3000);
                return false;
            }
            else
                return true;
        }

        //Prevent Default
        formSubmit.addEventListener("click", function (e) {
            if (!validateForm) {
                e.preventDefault();
            }
        });

        //Password Visibility
        function passwordVisible() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    <br>
    <br>
    <br>

</body>

</html>