
        :root {
            margin: 0px;
            padding: 0px;

        }

        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background-image: url('../ASSETS/createAccount/createAccountBackground.svg');
            background-size: cover;
            background-repeat: no-repeat;
            font-family: 'Poppins', sans-serif;
            /* align-self: right; */
            overflow: visible;
            height: 950px;
        }

        /* ************************* NAV SECTION BEGINS ************************* */
        .logo {
            height: 50px;
            width: 175px;
            margin: 25px 0px 25px 150px;
            background-image: url("../ASSETS/AarogyaLogo.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .mainButton {
            font-size: 18px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            background-color: #3c71f0;
            padding: 10px 150px;
            width: 390px;
            text-align: justify;
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            border-radius: 10px;
            margin: 36px 0px 0px 125px;
        }

        .mainButton:hover,
        .mainButton:focus,
        .mainButton:active {
            box-shadow: 0px 1px 9px 0px #cbbbf0;
            background-color: #3284fc;
        }

        .Container1 {
            margin: 0px 50px;
            background-color: none;
            height: 550px;
            border-radius: 36px;
            position: fixed;
            width: 92%;
            overflow: visible;
            position: inherit;
        }

        .Heading {
            font-size: 36px;
            font-weight: 550;
            color: #3c71f0;
            text-align: left;
            margin: 75px 0px 40px 105px;
        }

        input {
            height: 18px;
            width: 360px;
            border: 1px solid lightgrey;
            border-radius: 9px;
            box-shadow: 0px 0px 9px #e7e7e7;
            margin: 10px 0px 8px 125px;
            padding: 15px;
            font-family: 'Poppins', sans-serif;
        }


        /* .form {
    color: #636363;
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px 20px 20px;
    display: ;
} */
        ::placeholder {
            font-family: 'Poppins', sans-serif;
        }

        a {
            text-decoration: none;
        }

        .disabled-option {
            color: black;
        }

        .createAccount {
            color: #363636;
            display: inline;
            margin: 0px 0px 0px 190px;
            font-size: 0.83em;
            float: left;
            text-decoration: none;
        }

        .H5Create {
            /* color: #363636; */
            display: inline;
            /* float: right; */
        }

        .Or {
            color: #363636;
            margin: 27px 0px 0px 262px;
            font-size: 0.90em;
        }

        .loginIcons {
            height: 72px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 325px;
            /* background-color: aqua; */
            margin: 0px 0px 10px 155px;
        }

        .icon {
            height: 45px;
            width: 72px;
            border: 1px solid #C4C4C4;
            background-color: #FFFDF5;
            border-radius: 7px;
            box-shadow: 0px 1px 9px 0px #dddddd;
        }

        .form-input {
            position: relative;
        }

        .form-input span {
            position: inline;
            font-size: 12px;
            color: red;
        }



        .form-input i {
            position: absolute;
            top: 27px;
            left: 531px;
            color: #63BD69;
            font-size: 18px;
        }

        .eye i {
            position: absolute !important;
            top: 27px !important;
            left: 480px !important;
            color: #b3b3b3 !important;
        }

        .eye i:hover,
        .eye i:active,
        .eye i:focus,
        .eye i:visited {
            color: #363636 !important;
        }

        #submission-error {
            position: inline;
            font-size: 12px;
            color: red;
        }


        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            background: #fff;
            flex: 1;
            font-size: 0.83em;
            padding: 0 .5em;
            color: #636363;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            border: 1px solid lightgrey;
            border-radius: 9px;
            box-shadow: 0px 0px 9px #e7e7e7;
        }


        select::-ms-expand {
            display: none;
        }

        .textarea {
            height: 50px;
        }

        .select {
            position: relative;
            display: flex;
            width: 24.5em;
            height: 3.1em;
            line-height: 3;
            background: #f3f3f3;
            overflow: hidden;
            margin: 10px 0px 0px 125px;
            box-shadow: 0px 0px 9px #e7e7e7;
        }

        .select::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1em;
            background: #d3d3d3;
            cursor: pointer;
            pointer-events: none;
            transition: .25s all ease;
            border-radius: 0px 9px 9px 0px;
            align-self: center;
            align-items: center;
        }

        .select:hover::after {
            color: #6455ee;
        }

        ::-webkit-calendar-picker-indicator {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
        }

        .backgroundimage {
            height: 100vh;
            width: 100%;
            /* background-color: #3c71f0; */
            z-index: -10;
            position: absolute;
            position: fixed;
            margin: 0px;
            padding: 0px;
        }
/*     
        @media only screen and (max-width(500px)){
              input {
            height: 18px;
            width: 360px;
            border: 1px solid lightgrey;
            border-radius: 9px;
            box-shadow: 0px 0px 9px #e7e7e7;
            margin: 10px 0px 8px 25px;
            padding: 15px;
            font-family: 'Poppins', sans-serif;
        }

        } */