<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">

    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">



    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../../static/css/patient/patientDashboard.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../../static/css/patient/patientProfile.css">

    <title>Responsive plants website - Bedimcode</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <div class="logo"></div>
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="selectDoctor.html" class="nav__link">Doctors</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">Appointments</a>
                    </li>
                    <li class="nav__item">
                        <a href="#products" class="nav__link active-link">Profile</a>
                    </li>
                    <li class="nav__item">
                        <a href="#faqs" class="nav__link">FAQs</a>
                    </li>
                    <li class="nav__item">
                        <a href="#faqs" class="nav__link">Tutorials</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <!-- Theme change button -->

            <div class="nav__btns">
                <i class="ri-moon-line change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title"> <span class="home__title-color">Sadhana Sapkota</span><br> from Kathmandu</h1>
                <div class="header__social">
                    <div class="header_child">
                        <i class="ri-calendar-check-line"></i>
                        <P style="display: inline; padding: 30px;">21 Years</P>
                    </div>
                    <br>

                    <div class="header_child">
                        <i class="ri-phone-line"></i>
                        <P style="display: inline; padding: 30px;">9818280183</P>
                    </div>
                    <br>

                    <div class="header_child">
                        <i class="ri-mail-unread-line"></i>
                        <P style="display: inline; padding: 30px;">mandeyra7@gmail.com</P>
                    </div>
                    <br>

                    <div class="header_child">
                        <i class="ri-genderless-line"></i>
                        <P style="display: inline; padding: 30px;">Gender</P>
                    </div>
                    <br>
                    <!-- 
                    <div class="header_child">
                        <i class="ri-mail-unread-line"></i>
                        <P style="display: inline; padding: 30px;">mandeyra7@gmail.com</P>
                    </div> -->


                </div>
                <a href="#" class="button">Edit Profile</a>
            </div>

            <div class="home__social">
                <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                <a href="" class="home__social-icon"><i class='bx bxl-behance'></i></a>
                <a href="" class="home__social-icon"><i class='bx bxl-github'></i></a>
            </div>

            <div class="home__img">
                <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                    </mask>
                    <g mask="url(#mask0)">
                        <path
                            d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z" />
                        <image class="home__blob-img" x="50" y="60" href="assets/img/perfil.png" />
                    </g>
                </svg>
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section " id="about">
            <h2 class="section-title">Problems</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="assets/img/about.jpg" alt="">
                </div>

                <div>
                    <h2 class="about__subtitle">Depression</h2>
                    <p class="about__text">Depression (major depressive disorder) is a common and serious medical
                        illness that negatively affects how you feel, the
                        way you think and how you act. Fortunately, it is also treatable. Depression causes feelings of
                        sadness and/or a loss of
                        interest in activities you once enjoyed.</p>
                </div>

            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Issues</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Selected Issues</h2>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bxl-html5 skills__icon'></i>
                            <span class="skills__name">HTML5</span>
                        </div>


                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bxl-css3 skills__icon'></i>
                            <span class="skills__name">CSS3</span>
                        </div>


                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bxl-javascript skills__icon'></i>
                            <span class="skills__name">JAVASCRIPT</span>
                        </div>


                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class='bx bxs-paint skills__icon'></i>
                            <span class="skills__name">UX/UI</span>
                        </div>


                    </div>
                </div>

                <div>
                    <img src="assets/img/work3.jpg" alt="" class="skills__img">
                </div>
            </div>
        </section>

        <!--================== EDUCATION AND EXPERIENCE=======================-->>
        <!--   *** Resume Section Starts ***   -->
        <section class="resume reusable" id="resume">

            <!--   === Headings Text Starts ===   -->
            <header class="headings">
                <h3>Resume</h3>
                <h1>Education & Experience</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </header>
            <!--   === Headings Text Ends ===   -->

            <!--   === Resume Row Starts ===   -->
            <div class="resume-row">

                <!--   === Left Column Starts ===   -->
                <div class="column column-left">
                    <header class="sub-heading">
                        <h2>EDUCATION</h2>
                    </header>

                    <main class="resume-contents">
                        <div class="box">
                            <h4>2016 - 2018</h4>
                            <h3>Computer Application (M)</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <h5 class="vanue">North Euro University</h5>
                        </div>

                        <div class="box">
                            <h4>2012 - 2015</h4>
                            <h3>Computer Application (B)</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <h5 class="vanue">North Euro University</h5>
                        </div>

                        <div class="box">
                            <h4>2000 - 2012</h4>
                            <h3>High School Degree</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <h5 class="vanue">Istanbul</h5>
                        </div>
                    </main>
                </div>
                <!--   === Left Column Ends ===   -->

                <!--   === Right Column Starts ===   -->
                <div class="column column-right">
                    <header class="sub-heading">
                        <h2>EXPERIENCE</h2>
                    </header>

                    <main class="resume-contents">
                        <div class="box">
                            <h4>2022- 2023</h4>
                            <h3>Senior Web Developer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <h5 class="vanue">Netlink</h5>
                        </div>

                        <div class="box">
                            <h4>2020- 2022</h4>
                            <h3>Front-End Web Developer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <h5 class="vanue">Development World</h5>
                        </div>

                        <div class="box">
                            <h4>2019- 2020</h4>
                            <h3>UI/UX Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <h5 class="vanue">Design House</h5>
                        </div>
                    </main>
                </div>
                <!--   === Right Column Ends ===   -->

            </div>
            <!--   === Resume Row Ends ===   -->

        </section>
        <!--   *** Resume Section Ends ***   -->

    </main>


    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <i class="ri-leaf-line footer__logo-icon"></i> Aarogya
                </a>
                <!-- 
                <h3 class="footer__title">
                    Subscribe to our newsletter <br> to stay update
                </h3> -->

                <div class="footer__subscribe">
                    <input type="email" placeholder="Enter your email" class="footer__input">

                    <button class="button button--flex footer__button">
                        Subscribe
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Our Address</h3>

                <ul class="footer__data">
                    <li class="footer__information">1234 - Peru</li>
                    <li class="footer__information">La Libertad - 43210</li>
                    <li class="footer__information">123-456-789</li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Contact Us</h3>

                <ul class="footer__data">
                    <li class="footer__information">+999 888 777</li>
                    <li class="footer__information">mandeyra7@gmail.com</li>

                    <div class="footer__social">
                        <a href="https://www.facebook.com/" class="footer__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" class="footer__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">
                    We accept all credit cards
                </h3>

                <div class="footer__cards">
                    <img src="../assets/img/card1.png" alt="" class="footer__card">
                    <img src="../assets/img/card2.png" alt="" class="footer__card">
                    <img src="../assets/img/card3.png" alt="" class="footer__card">
                    <img src="../assets/img/card4.png" alt="" class="footer__card">
                </div>
            </div>
        </div>

    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-fill scrollup__icon"></i>
    </a>

    <!--=============== SCROLL REVEAL ===============-->
    <script src="../../static/js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="../../static/js/main.js"></script>
</body>

</html>