<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="CSS/registerDoctor.css"> -->
    <link rel="stylesheet" type="text/css" href="../../static/css/doctor/doctorRegistration.css">



    <title>Aarogya | Create Account</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
    <div class="backgroundimage">

    </div>
    <script src="https://kit.fontawesome.com/b8a0a5c528.js" crossorigin="anonymous"></script>
    <div class="logo"></div>


    <div class="Container1">
        <h1 class="Heading">Doctor, Welcome To Aarogya!</h1>

        <form method="post" action="" class="form" id="form">
            <div class="form-input">
                <input type="text" id="firstname" name="firstname" placeholder="Your First Name:"
                    onkeyup="validateFirstname()" />
                <span id="firstname-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="text" id="lastname" name="lastname" placeholder="Your last name:"
                    onkeyup="validateLastname()" />
                <span id="lastname-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="text" id="username" name="username" placeholder="Your Address:"
                    onkeyup="validateUsername()" />
                <span id="username-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="email" id="email" name="email" placeholder="Your E-mail:" onkeyup="validateEmail()" />
                <span id="email-error"></span>
                <br>
            </div>

            <div class="form-input">
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Your Phone Number:"
                    onkeyup="validateNumber()" />
                <span id="phone-error"></span>
                <br />
            </div>


            <div class="form-input">
                <div class="select">
                    <select name="format" id="format">
                        <option selected disabled>Choose your gender:</option>
                        <option value="pdf">Male</option>
                        <option value="txt">Female</option>
                        <option value="epub">LGBTQ</option>
                        <option value="fb2">Other</option>
                    </select>
                </div>
                <br>
            </div>

            <div class="form-input">
                <input placeholder="Date of Birth:" class="textbox-n" type="text" onfocus="(this.type='date')" id="date"
                    name="date" />

                <!-- <span id="coupon-error"></span> -->
                <br>
            </div>

            <div class="form-input">
                <input placeholder="Your Speciality" type="text" id="date" name="Problem" />
                <!-- <span id="coupon-error"></span> -->
                <br>
            </div>

            <div class="form-input">
                <input placeholder="Your Education" type="text" id="date" name="Problem" />
                <!-- <span id="coupon-error"></span> -->
                <br>
            </div>

            <div class="form-input">
                <input type="number" id="id" name="id" placeholder="Your Licence Id:" onkeyup="validateId()" />
                <span id="id-error"></span>
                <br>
            </div>

            <div class="form-input">
                <div class="eye"><i class='fa fa-eye' onclick="passwordVisible()"></i></div>
                <input type="password" id="password" name="password" placeholder="Your Password:"
                    onkeyup="validatePassword()" />
                <!-- <img src="../ASSETS/Website/StarReview.svg"  onclick="passwordVisible()" alt=""> -->
                <span id="password-error"></span>
                <br>
            </div>



            <button type="submit" class="mainButton" id="formSubmit" onclick="return validateForm()">continue</button>
            <span id="submission-error"></span> <br>
        </form>

        <!-- <p class="Or">Or continue with</p>

        <div class="loginIcons">
            <div class="icon" id="icon1" style="background-image: url('ASSETS/loginPage/Frame\ 15.svg');">

            </div>
            <div class="icon" id="icon2" style="background-image: url('ASSETS/loginPage/Frame\ 16.svg');">

            </div>
            <div class="icon" id="icon3" style="background-image: url('ASSETS/loginPage/Frame\ 17.svg');">

            </div>
        </div> -->

        <p class="createAccount">Already have an account? </p> <a href="#ForgotPassword.html">
            <h5> Login Here</h5>
        </a>
        <div class="spacing"></div>
    </div>
</body>

</html>